.btn {
  &:visited,
  &:link {
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10rem;
    font-size: $default-font-style;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    padding: 1.5rem 4rem;
    animation: moveInUp 2s ease-in-out;
  }

  &--white {
    background-color: white;
    color: #777;
  }

  &:hover {
    transform: translateY(-3px);
  }

  &:active {
    transform: (-1px);
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
  &::after {
    background-color: white;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    display: inline-block;
    border-radius: 10rem;
    position: absolute;
    z-index: -1;
    transition: all 0.2s;
  }
  &:hover::after {
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0.1;
  }
}
.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-style;
    text-decoration: none;
    color: $color-primary-light;
    display: inline-block;
    border-bottom: 1px solid $color-primary-dark;
    padding: 5px;
    margin: 20px;
    transition: all 0.2s;
  }

  &:hover {
    color: #fff;
    background-color: $color-primary-light;
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(0px);
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}
