@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes moveInRight {
  0% {
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes moveInUp {
  0% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
